<div class="left-bar">
    <div class="daily_weather-container">
      <h1>{{ "asd"}}</h1>
      <h2>7 days forecast</h2>
      <ul class="scrolling-wrapper">
        <li *ngFor="let day of daily_weather" class="card">
          <img
            src="https://openweathermap.org/img/wn/{{ day.icon }}@2x.png"
            alt=""
          />
          <div>
            <div class="day">{{ day.day }}</div>
            <div class="main">{{ day.main.temp }}</div>
            <div class="temp">{{ day.temp }}°</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
